<div class="container-fluid">
	<div class="box">
		<form [formGroup]="myForm" (ngSubmit)="formSubmit()" novalidate>
			<div class="form-group">
				<label for="email">Email address</label>
				<input type="email" class="form-control" formControlName="email" placeholder="Enter email">
			</div>
			
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" formControlName="password" placeholder="Password">
			</div>

			<button type="submit" class="btn btn-primary" style="margin-bottom: 8px;">Submit</button>

			<label class="btn btn-dark" (click)="getDataFromDB()">Grab Data</label>

			<label class="btn btn-danger" (click)="dropDB()">Drop DB</label>

			<label class="btn btn-warning" (click)="newInstance()">New Instance</label>

			<label class="btn btn-warning" (click)="showInstances()">Show Instance</label>
			<pre>{{ dataJSON | json }}</pre>
			
			<pre *ngFor="let name of names; let i = index">{{name}} = {{data[i] | json}}</pre>
		</form>
	</div>
</div>