<div class="container-fluid">
	
	<h5>Operations</h5>
	<button class="btn btn-dark" (click)="insert()">Insert Records</button>
	<button class="btn btn-danger" (click)="delete()">Delete Records</button>
	<button class="btn btn-secondary" (click)="search('key496')">Search Records</button>
	
	
	<h5>Change Driver Setting</h5>

	<button class="btn btn-debug" (click)="changeDriver('websql')">WebSql</button>
	<button class="btn btn-debug" (click)="changeDriver('indexed')">IndexedDB</button>

	<h5>Logs: </h5>
	Using: {{driver}}
	<p *ngFor="let log of logs"> {{log.task}} in {{log.driver}} - {{log.timeTaken}} milliseconds </p>

</div>